html {
  --header2: calc(2.1rem + 1vw);
}


/* Burger */

.burger span {
  display: block;
  margin: 0.8rem 3rem;
  padding: 0.2rem 2rem;
  background-color: var(--gray-text);
  position: relative;
  transition: all 0.5s ease;
}

.burger {
  display: block;
  transition: all 0.5s ease;
}

.main-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 3;
}

.nav-links {
  width: 100%;
  height: 100%;
  padding: 7rem 0rem;
  background-color: var(--background-color);
  position: fixed;
  bottom: 0;
  left: 100%;
  flex-direction: column;
  align-items: center;
  transition: transform 1s ease;
  opacity: 0.9;
}

.nav-links a {
  color: white;
  text-decoration: underline;
  font-size: var(--header2);
}

.nav-links a:hover {
  color: white;
}

.nav-links a:hover::before {
  transform: scaleX(0);
}

.menu-check {
  display: block;
  position: absolute;
  right: 5%;
  top: 40%;
  width: 7rem;
  height: 7rem;
  transform: translate(30%, -40%);
  cursor: pointer;
  opacity: 0;
  z-index: 100;
}

.menu-check:checked + .nav-links {
  transform: translate(-100%);
}

.menu-check:checked ~ .burger span {
  background-color: white;
}

.menu-check:checked ~ .burger span:nth-child(1) {
  transform: rotateZ(45deg) translateY(300%);
}

.menu-check:checked ~ .burger span:nth-child(2) {
  opacity: 0;
}

.menu-check:checked ~ .burger span:nth-child(3) {
  transform: rotateZ(-45deg) translateY(-450%) translateX(8%);
}


/* Hero Section */

#hero {
  width: 100%;
}

.hero-introduction a {
  margin: 2rem 0rem;
}

.hero-introduction h2 {
  padding-top: 2rem;
}

.hero-introduction p {
  padding: 3rem;
}


/* About Section */

.about-image h5{
  letter-spacing: 0;
}

.about-description div {
  padding: 1rem 6rem;
}


/* Gallery Section  */

#gallery img {
 grid-row: auto;
 grid-column: auto;
}

#gallery {
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}


/* Contact Section */

#contact img {
  display: none;
}


/* Footer */

footer h4 {
  order: 2;
  text-align: center;
}

footer ul {
  order: 1;
}